---
const { id, name, status, title, txt, img, color } =
  Astro.props;
import { t } from "i18next";
console.log(title);
---

<article
  class:list={[
    "p-6 rounded-2xl shadow-lg flex flex-col gap-1",
    { "col-span-2": id === "card-1.id" },
    { "col-start-3": id === "card-2.id" },
    { "col-start-4 row-span-2": id === "card-3.id" },
    { "row-start-2": id === "card-4.id" },
    {
      "row-start-2 col-start-2 col-span-2":
        id === "card-5.id",
    },
    {
      "bg-violet text-snowWhite": color === "card-1.color",
    },
    {
      "bg-darkGray text-snowWhite":
        color === "card-2.color",
    },
    {
      "bg-darkBlackish text-lightText ":
        color === "card-5.color",
    },
    {
      "bg-snowWhite text-darkText":
        color === "card-3.color" ||
        color === "card-4.color",
    },
  ]}
>
  <div class="flex items-center gap-4">
    <img
      src={t(img)}
      alt=`Foto ${t(name)}`
      class="rounded-full"
    />
    <div>
      <h2 class="text-md font-bold">{t(name)}</h2>
      <h3 class="text-sm font-light">{t(status)}</h3>
    </div>
  </div>
  <h2 class="text-2xl font-bold">
    {t(title)}
  </h2>
  <p class="text-md font-medium">
    {t(txt)}
  </p>
</article>
